* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
    height: 100%;

}

.flex {
    display: flex;
}

/*header start*/
header {
    justify-content: space-between;
    align-items: center;
    padding: 55px 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100%;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
}

header .logo a img {
    width: 100%;
    height: 50px;
    z-index: 99;
}


header nav ul {
    margin-right: 81px;
}

header nav ul li {
    padding: 0 25px;
}

header nav ul li a {
    color: #c9c9c9;
}

header nav ul li a:hover {
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 1px #ffffff;
}

header nav ul li .active {
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 1px #ffffff;
}

/*menuicon*/


.header .menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 28px;
    z-index: 99;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    z-index: 99;


}

.header .menu-icon .navicon:before {
    top: 5px;

}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


.social {
    margin-right: 5px;
    display: flex;
}

.social div img {
    height: 18px;
    padding-right: 10px;
}

.social::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 2px;
    width: 2px;
    height: 20px;
    background: white;
    margin-right: 8px;
}

.language {
    display: flex;
}

.language div {
    margin-right: 10px;
}

/*header end*/
/*content start*/
.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.content div {
    height: 100%;
    width: 100%;
}

.card {
    background-blend-mode: darken;
    height: 100%;
    position: relative;
}

.card:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 80;
    transition: all 320ms;
}

.card:hover:before {
    background: rgba(0, 0, 0, 0);
}

.card a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: white;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 320ms;

}

.card:hover .heading {
    padding-bottom: 55px;
}

.card h1 {
    font-size: 60px;
}

.card h2 {
    font-size: 30px;
}

.card h3 {
    font-size: 24px;
}

.card1 {
    clip-path: polygon(0% 0%, 100% 0%, 90.5% 100%, 0% 100%);
    width: 100%;
}

.card2 {
    margin-left: -3%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 100%;
}

.card3 {
    margin-left: -3%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 100%;
}

.card4 {
    margin-left: -3%;
    clip-path: polygon(10.5% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
}


/* SLIDER */

.slider {
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
}


.slider > ul {
    height: 100%;
    z-index: 50;
}

.slider > ul > li {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    opacity: 0;
    z-index: 1;
    -webkit-transition: all 2000ms ease;
    -moz-transition: all 2000ms ease;
    -ms-transition: all 2000ms ease;
    -o-transition: all 2000ms ease;
    transition: all 2000ms ease;
}

.slider img {
    height: 100vh;
}

.slider > #input-slide-0:checked ~ ul > li.slide-0,
.slider > #input-slide-1:checked ~ ul > li.slide-1,
.slider > #input-slide-2:checked ~ ul > li.slide-2,
.slider > #input-slide-3:checked ~ ul > li.slide-3 {
    opacity: 1;
    z-index: 2;
}



/* -------------------------------------------------------- arrow */
.slider > .slider-arrow-prev,
.slider > .slider-arrow-next {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 50;
}

.slider > .slider-arrow-prev > label,
.slider > .slider-arrow-next > label {
    position: absolute;
    width: 5vw;
    height: 5vw;
    margin-top: -2.5vw;
    opacity: 0;
    background-size: 100% auto;
    background-position: center;

    z-index: -1;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.slider > #input-slide-0:checked ~ .slider-arrow-prev > label.slide-3,
.slider > #input-slide-0:checked ~ .slider-arrow-next > label.slide-1,
.slider > #input-slide-1:checked ~ .slider-arrow-prev > label.slide-0,
.slider > #input-slide-1:checked ~ .slider-arrow-next > label.slide-2,
.slider > #input-slide-2:checked ~ .slider-arrow-prev > label.slide-1,
.slider > #input-slide-2:checked ~ .slider-arrow-next > label.slide-3,
.slider > #input-slide-3:checked ~ .slider-arrow-prev > label.slide-2,
.slider > #input-slide-3:checked ~ .slider-arrow-next > label.slide-0 {
    z-index: 1;
}

.slider:hover > .slider-arrow-prev > label,
.slider:hover > .slider-arrow-next > label {
    opacity: 1;
}

.slider > .slider-arrow-prev > label {
    left: 5vw;
    background-image: url(http://panikaro.interiowo.pl/img/arrow-left.png);
}

.slider > .slider-arrow-next > label {
    right: 5vw;
    background-image: url(http://panikaro.interiowo.pl/img/arrow-right.png);
}


/* -------------------------------------------------------- description */
.slider > .slide-description {
    position: absolute;
    width: 50%;
}

.slider > .slide-description > label {
    position: absolute;
    width: 100%;


    z-index: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.slider > #input-slide-0:checked ~ .slide-description > .slide-0,
.slider > #input-slide-1:checked ~ .slide-description > .slide-1,
.slider > #input-slide-2:checked ~ .slide-description > .slide-2,
.slider > #input-slide-3:checked ~ .slide-description > .slide-3 {
    z-index: 2;
    opacity: 1;
    visibility: visible;
}

.slider > .slide-description > label > .text-slide {
    margin: 0 auto;
    line-height: 6vw;
    text-align: center;
}

.slider > .slide-description > .slide-0 {
    font-family: 'Raleway', sans-serif;
}

.slider > .slide-description > .slide-1 {
    font-family: 'Poiret One', cursive;
}

.slider > .slide-description > .slide-2 {
    font-family: 'Monoton', cursive;
}

.slider > .slide-description > .slide-3 {
    font-family: 'Audiowide', cursive;
}

/* -------------------------------------------------------- autoplay */
/*
	if you don't want to autoplay
  just check input "slide-0"
  instead of input "play" in html code
  and remove the code below
*/
/* -------------------------------------------------------- autoplay slide */
@-webkit-keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    6%, 25% {
        opacity: 1;
        z-index: 2;
    }
    30%, 50% {
        opacity: 0;
        z-index: 2;
    }
}

@-moz-keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
    }
    30%, 50% {
        opacity: 0;
        z-index: 2;
    }
}

@-ms-keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    6%, 25% {
        opacity: 1;
        z-index: 2;
    }
    30%, 50% {
        opacity: 0;
        z-index: 2;
    }
}

@-o-keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    6%, 25% {
        opacity: 1;
        z-index: 2;
    }
    30%, 50% {
        opacity: 0;
        z-index: 2;
    }
}

@keyframes slide {
    0%, 100% {
        opacity: 0;
    }
    6%, 25% {
        opacity: 1;
        z-index: 2;
    }
    30%, 50% {
        opacity: 0;
        z-index: 2;
    }
}

.slider > #input-slide-autoplay:checked ~ ul > li.slide-0 {
    -webkit-animation: slide 32000ms infinite -2000ms linear;
    -moz-animation: slide 32000ms infinite -2000ms linear;
    -ms-animation: slide 32000ms infinite -2000ms linear;
    -o-animation: slide 32000ms infinite -2000ms linear;
    animation: slide 32000ms infinite -2000ms linear;
}

.slider > #input-slide-autoplay:checked ~ ul > li.slide-1 {
    -webkit-animation: slide 32000ms infinite 6000ms linear;
    -moz-animation: slide 32000ms infinite 6000ms linear;
    -ms-animation: slide 32000ms infinite 6000ms linear;
    -o-animation: slide 32000ms infinite 6000ms linear;
    animation: slide 32000ms infinite 6000ms linear;
}

.slider > #input-slide-autoplay:checked ~ ul > li.slide-2 {
    -webkit-animation: slide 32000ms infinite 14000ms linear;
    -moz-animation: slide 32000ms infinite 14000ms linear;
    -ms-animation: slide 32000ms infinite 14000ms linear;
    -o-animation: slide 32000ms infinite 14000ms linear;
    animation: slide 32000ms infinite 14000ms linear;
}

.slider > #input-slide-autoplay:checked ~ ul > li.slide-3 {
    -webkit-animation: slide 32000ms infinite 22000ms linear;
    -moz-animation: slide 32000ms infinite 22000ms linear;
    -ms-animation: slide 32000ms infinite 22000ms linear;
    -o-animation: slide 32000ms infinite 22000ms linear;
    animation: slide 32000ms infinite 22000ms linear;
}

.slider > #input-slide-autoplay:checked ~ ul > li {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

/* -------------------------------------------------------- autoplay arrow */
@-webkit-keyframes arrow {
    0%, 24% {
        z-index: 1;
    }
    25%, 100% {
        z-index: -1;
    }
}

@-moz-keyframes arrow {
    0%, 24% {
        z-index: 1;
    }
    25%, 100% {
        z-index: -1;
    }
}

@-ms-keyframes arrow {
    0%, 24% {
        z-index: 1;
    }
    25%, 100% {
        z-index: -1;
    }
}

@-o-keyframes arrow {
    0%, 24% {
        z-index: 1;
    }
    25%, 100% {
        z-index: -1;
    }
}

@keyframes arrow {
    0%, 24% {
        z-index: 1;
    }
    25%, 100% {
        z-index: -1;
    }
}

.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-3,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-1 {
    -webkit-animation: arrow 32000ms infinite -2000ms;
    -moz-animation: arrow 32000ms infinite -2000ms;
    -ms-animation: arrow 32000ms infinite -2000ms;
    -o-animation: arrow 32000ms infinite -2000ms;
    animation: arrow 32000ms infinite -2000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-0,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-2 {
    -webkit-animation: arrow 32000ms infinite 6000ms;
    -moz-animation: arrow 32000ms infinite 6000ms;
    -ms-animation: arrow 32000ms infinite 6000ms;
    -o-animation: arrow 32000ms infinite 6000ms;
    animation: arrow 32000ms infinite 6000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-1,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-3 {
    -webkit-animation: arrow 32000ms infinite 14000ms;
    -moz-animation: arrow 32000ms infinite 14000ms;
    -ms-animation: arrow 32000ms infinite 14000ms;
    -o-animation: arrow 32000ms infinite 14000ms;
    animation: arrow 32000ms infinite 14000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-arrow-prev > label.slide-2,
.slider > #input-slide-autoplay:checked ~ .slider-arrow-next > label.slide-0 {
    -webkit-animation: arrow 32000ms infinite 22000ms;
    -moz-animation: arrow 32000ms infinite 22000ms;
    -ms-animation: arrow 32000ms infinite 22000ms;
    -o-animation: arrow 32000ms infinite 22000ms;
    animation: arrow 32000ms infinite 22000ms;
}

/* -------------------------------------------------------- autoplay dot */
@-webkit-keyframes dot {
    0%, 24% {
        background-color: #FD7FE3;
    }
    25%, 100% {
        background: #FFF;
    }
}

@-moz-keyframes dot {
    0%, 24% {
        background-color: #FD7FE3;
    }
    25%, 100% {
        background: #FFF;
    }
}

@-ms-keyframes dot {
    0%, 24% {
        background-color: #FD7FE3;
    }
    25%, 100% {
        background: #FFF;
    }
}

@-o-keyframes dot {
    0%, 24% {
        background-color: #FD7FE3;
    }
    25%, 100% {
        background: #FFF;
    }
}

@keyframes dot {
    0%, 24% {
        background-color: #FD7FE3;
    }
    25%, 100% {
        background: #FFF;
    }
}

.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-0 {
    -webkit-animation: dot 32000ms infinite -2000ms;
    -moz-animation: dot 32000ms infinite -2000ms;
    -ms-animation: dot 32000ms infinite -2000ms;
    -o-animation: dot 32000ms infinite -2000ms;
    animation: dot 32000ms infinite -2000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-1 {
    -webkit-animation: dot 32000ms infinite 6000ms;
    -moz-animation: dot 32000ms infinite 6000ms;
    -ms-animation: dot 32000ms infinite 6000ms;
    -o-animation: dot 32000ms infinite 6000ms;
    animation: dot 32000ms infinite 6000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-2 {
    -webkit-animation: dot 32000ms infinite 14000ms;
    -moz-animation: dot 32000ms infinite 14000ms;
    -ms-animation: dot 32000ms infinite 14000ms;
    -o-animation: dot 32000ms infinite 14000ms;
    animation: dot 32000ms infinite 14000ms;
}

.slider > #input-slide-autoplay:checked ~ .slider-dot > label.slide-3 {
    -webkit-animation: dot 32000ms infinite 22000ms;
    -moz-animation: dot 32000ms infinite 22000ms;
    -ms-animation: dot 32000ms infinite 22000ms;
    -o-animation: dot 32000ms infinite 22000ms;
    animation: dot 32000ms infinite 22000ms;
}

/* -------------------------------------------------------- autoplay description */
@-webkit-keyframes description {
    0%, 5% {
        opacity: 0;
        z-index: 2;
        visibility: visible;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    25%, 100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

@-moz-keyframes description {
    0%, 5% {
        opacity: 0;
        z-index: 2;
        visibility: visible;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    25%, 100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

@-ms-keyframes description {
    0%, 5% {
        opacity: 0;
        z-index: 2;
        visibility: visible;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    25%, 100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

@-o-keyframes description {
    0%, 5% {
        opacity: 0;
        z-index: 2;
        visibility: visible;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    25%, 100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

@keyframes description {
    0%, 5% {
        opacity: 0;
        z-index: 2;
        visibility: visible;
    }
    6%, 24% {
        opacity: 1;
        z-index: 2;
        visibility: visible;
    }
    25%, 100% {
        opacity: 0;
        z-index: 0;
        visibility: hidden;
    }
}

.slider input {
    display: none;
}

.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-0 {
    -webkit-animation: description 32000ms infinite -2000ms ease;
    -moz-animation: description 32000ms infinite -2000ms ease;
    -ms-animation: description 32000ms infinite -2000ms ease;
    -o-animation: description 32000ms infinite -2000ms ease;
    animation: description 32000ms infinite -2000ms ease;
}

.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-1 {
    -webkit-animation: description 32000ms infinite 6000ms ease;
    -moz-animation: description 32000ms infinite 6000ms ease;
    -ms-animation: description 32000ms infinite 6000ms ease;
    -o-animation: description 32000ms infinite 6000ms ease;
    animation: description 32000ms infinite 6000ms ease;
}

.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-2 {
    -webkit-animation: description 32000ms infinite 14000ms ease;
    -moz-animation: description 32000ms infinite 14000ms ease;
    -ms-animation: description 32000ms infinite 14000ms ease;
    -o-animation: description 32000ms infinite 14000ms ease;
    animation: description 32000ms infinite 14000ms ease;
}

.slider > #input-slide-autoplay:checked ~ .slide-description > .slide-3 {
    -webkit-animation: description 32000ms infinite 22000ms ease;
    -moz-animation: description 32000ms infinite 22000ms ease;
    -ms-animation: description 32000ms infinite 22000ms ease;
    -o-animation: description 32000ms infinite 22000ms ease;
    animation: description 32000ms infinite 22000ms ease;
}

.slider > #input-slide-autoplay:checked ~ .slide-description > label {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

.slide-description img {

}

/* SLIDER END */


@media screen and (max-width: 992px) {
    .header {
        padding: 40px 20px;
    }

    .header .menu-icon {
        display: block;
    }

    .header .logo a {
        position: absolute;
        left: 0;
        top: 0;
        height: 50px;
        padding: 30px;
        z-index: 990;
    }

    .header nav {
        display: block;
        position: absolute;
        width: 100%;
        top: -1000px;
        left: 0;
        padding: 30px 20px;
        background: rgba(0, 0, 0, 0.7);
        transition: all 320ms;
    }

    .header nav ul {
        display: block;
        margin-top: 90px;
        margin-bottom: 8px;

    }

    .header nav ul li {
        font-size: 26px;
        padding: 10px;
    }


    .header .menu-btn:checked ~ nav {

        top: 0;
    }

    .social {
        margin-bottom: 15px;
    }

    .social::after {
        display: none;
    }

    .social div img {
        height: 26px;
        padding-left: 18px;

    }

    .language div img {
        height: 24px;
        padding-left: 18px;

    }

    .content {
        display: flex;
        flex-wrap: wrap;

    }

    .content div {
        width: 50%;
        height: 50%;
    }

    .card1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .card2 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .card3 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card4 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}


@media screen and (max-width: 700px) {
    .content {
        display: block;
    }

    .content div {
        width: 100%;
        height: 100%;
    }

    .card1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card2 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .header .logo a {
        height: 20px;
        width: 190px;
    }

    .card3 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card4 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }
}