* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html, body {
    height: 100%;

}

.flex {
    display: flex;
}

/*header start*/
header {
    justify-content: space-between;
    align-items: center;
    padding: 55px 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100%;
}

header nav {
    display: flex;
}

header nav ul {
    display: flex;
}

header .logo  {
    width: 200px;
    z-index: 99;
    display: block;
}


header nav ul {
    margin-right: 81px;
}

header nav ul li {
    padding: 0 25px;
}

header nav ul li a {
    color: #c9c9c9;
}

header nav ul li a:hover {
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 1px #ffffff;
}

header nav ul li .active {
    font-weight: normal;
    color: white;
    text-shadow: 0px 0px 1px #ffffff;
}

/*menuicon*/


.header .menu-icon {
    cursor: pointer;
    display: none;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 28px;
    z-index: 99;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
    z-index: 99;


}

.header .menu-icon .navicon:before {
    top: 5px;

}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


.social {
    margin-right: 5px;
    display: flex;
}

.social div img {
    height: 18px;
    padding-right: 10px;
}

.social::after {
    content: "";
    position: relative;
    bottom: 0;
    left: 2px;
    width: 2px;
    height: 20px;
    background: white;
    margin-right: 8px;
}

.language {
    display: flex;
}

.language div {
    margin-right: 10px;
}
.language img{
    height: 18px;

}

/*header end*/
/*content start*/
.content {
    width: 100%;
    height: 100%;
    display: flex;
}

.content > div {
    height: 100%;
    width: 100%;
}

.card {
    background-blend-mode: darken;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.card:before {
    content: '';
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 80;
    transition: all 320ms;
}

.card:hover:before {
    background: rgba(0, 0, 0, 0);
}

.card a {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    /*width: 100%;*/
    /*height: 100%;*/
    z-index: 999;
    color: white;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 320ms;
    position: absolute;
    top:calc(50% - 3vw);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 90;

}

.card:hover .heading {
top:calc(50% - 7vw);
}
video{
    height: 100vh;
}
.card h1 {
    font-size: 60px;
}

.card h2 {
    font-size: 30px;
}

.card h3 {
    font-size: 24px;
}

.card1 {
    clip-path: polygon(0% 0%, 100% 0%, 90.5% 100%, 0% 100%);
    width: 100%;
}

.card2 {
    margin-left: -3%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 100%;
}

.card3 {
    margin-left: -3%;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    width: 100%;
}

.card4 {
    margin-left: -3%;
    clip-path: polygon(10.5% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 100%;
}



.owl-carousel .owl-stage {
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}



.video{
    height: 100%;
}


@media screen and (max-width: 1094px) {
    .header {
        padding: 40px 20px;
    }

    .header .menu-icon {
        display: block;
    }

    .header .logo a{
        width: 155px;
        position: absolute;
        left: 0;
        top: 0;
        padding: 30px;
        z-index: 990;
    }

    .header nav {
        display: block;
        position: absolute;
        width: 100%;
        top: -1000px;
        left: 0;
        padding: 30px 20px;
        background: rgba(0, 0, 0, 0.7);
        transition: all 320ms;
    }

    .header nav ul {
        display: block;
        margin-top: 90px;
        margin-bottom: 8px;

    }

    .header nav ul li {
        font-size: 26px;
        padding: 10px;
    }


    .header .menu-btn:checked ~ nav {

        top: 0;
    }

    .social {
        margin-bottom: 15px;
    }

    .social::after {
        display: none;
    }

    .social div img {
        height: 26px;
        padding-left: 18px;

    }

    .language div img {
        height: 24px;
        padding-left: 18px;

    }

    .content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }



    .card1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .card2 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .card3 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card4 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .video{
        height: auto;
    }
}


@media screen and (max-width: 700px) {

    .card1 {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card2 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .header .logo  {
        width: 155px;
    }
    .card h1 {
        font-size: 40px;
    }

    .card h2 {
        font-size: 20px;
    }

    .card h3 {
        font-size: 15px;
    }

    .card3 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .card4 {
        margin-left: 0;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

    }

    .video{
        height: auto;
    }
}